html, body {
    height: 100%;
    background: rgb(226, 225, 224);
}

hr {
    border: none;
    height: 5px;
    background-color: rgb(235, 123, 89); 
    border-radius: 4px;
}

.navbar {
    padding-left: 7%;
}

#nav-title {
    color: rgb(235, 123, 89);
}

.my-container {
    margin-left: 7%;
    margin-right: 7%;
    position: relative;
}